name = "ExaModels"
uuid = "1037b233-b668-4ce9-9b63-f9f681f55dd2"
authors = ["Sungho Shin <sushin@mit.edu>"]
version = "0.9.0"

[deps]
NLPModels = "a4795742-8479-5a88-8948-cc11e1c8c1a6"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
SolverCore = "ff4d7338-4cf1-434d-91df-b86cb86fb843"

[weakdeps]
AMDGPU = "21141c5a-9bdb-4563-92ae-f87d6854732e"
CUDA = "052768ef-5323-5732-b1bb-66c8b64840ba"
Ipopt = "b6b21f68-93f8-5de0-b562-5493be1d77c9"
JuMP = "4076af6c-e467-56ae-b986-b466b2749572"
KernelAbstractions = "63c18a36-062a-441e-b654-da1e3ab1ce7c"
MadNLP = "2621e9c9-9eb4-46b1-8089-e8c72242dfb6"
MathOptInterface = "b8f27783-ece8-5eb3-8dc8-9495eed66fee"
NLPModelsIpopt = "f4238b75-b362-5c4c-b852-0801c9a21d71"
OpenCL = "08131aa3-fb12-5dee-8b74-c09406e224a2"
SpecialFunctions = "276daf66-3868-5448-9aa4-cd146d93841b"
oneAPI = "8f75cd03-7ff8-4ecb-9b8f-daf728133b1b"

[extensions]
ExaModelsAMDGPU = "AMDGPU"
ExaModelsCUDA = "CUDA"
ExaModelsIpopt = ["MathOptInterface", "NLPModelsIpopt"]
ExaModelsJuMP = "JuMP"
ExaModelsKernelAbstractions = "KernelAbstractions"
ExaModelsMOI = "MathOptInterface"
ExaModelsMadNLP = ["MadNLP", "MathOptInterface"]
ExaModelsOneAPI = "oneAPI"
ExaModelsOpenCL = "OpenCL"
ExaModelsSpecialFunctions = "SpecialFunctions"

[compat]
AMDGPU = "1, 2"
CUDA = "5"
Ipopt = "1.6"
JuMP = "1"
KernelAbstractions = "0.9"
MadNLP = "0.8"
MathOptInterface = "1.19"
NLPModels = "0.18, 0.19, 0.20, 0.21"
NLPModelsIpopt = "0.10"
OpenCL = "0.10"
SolverCore = "0.3"
SpecialFunctions = "2"
julia = "1.9"
oneAPI = "1, 2"
