name: build

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        julia-version: ['1.9']
        julia-arch: [x64]
        os: [ubuntu-latest,macos-latest,windows-latest]

    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.julia-version }}
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v1 
        with:
          file: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
  test-moonshot:
    env:
      JULIA_DEPOT_PATH: /scratch/sshin/github-actions/julia_depot_madnlp
    runs-on: self-hosted
    strategy:
      matrix:
        julia-version: ['1.9']
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.julia-version }}
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v1 
        with:
          file: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
      - run: julia -t 8 --project=ExaModelsExamples -e 'using Pkg; Pkg.develop("."); Pkg.instantiate(); using ExaModelsExamples; benchmark(); benchmark(;deploy=true);'
