name: build

on: [pull_request]

jobs:
  github:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        julia-version: ['lts', '1']
        julia-arch: [x64]
        os: [ubuntu-latest,macos-latest,windows-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.julia-version }}
      - uses: julia-actions/julia-buildpkg@latest
      - name: Add OpenCL.jl to test environment
        run: |
          julia --project=test -e 'using Pkg; Pkg.add(["OpenCL", "pocl_jll"])'
      - uses: julia-actions/julia-runtest@latest
        env:
          EXAMODELS_TEST_POCL: 1

  gpu:
    strategy:
      matrix:
        julia-version: ['lts', '1']
        julia-arch: [x64]
        os: [ubuntu-latest]
        backend: ['cuda', 'amdgpu', 'oneapi']
    runs-on: ['self-hosted', '${{ matrix.backend }}']
    env:
      JULIA_NUM_THREADS: 4
      # Conditional environment variables based on backend
      EXAMODELS_TEST_CUDA: ${{ matrix.backend == 'cuda' && '1' || '' }}
      EXAMODELS_TEST_AMDGPU: ${{ matrix.backend == 'amdgpu' && '1' || '' }}
      EXAMODELS_TEST_ONEAPI: ${{ matrix.backend == 'oneapi' && '1' || '' }}
      # AMDGPU specific variables
      JULIA_AMDGPU_CORE_MUST_LOAD: ${{ matrix.backend == 'amdgpu' && '1' || '' }}
      JULIA_AMDGPU_HIP_MUST_LOAD: ${{ matrix.backend == 'amdgpu' && '1' || '' }}
      JULIA_AMDGPU_DISABLE_ARTIFACTS: ${{ matrix.backend == 'amdgpu' && '1' || '' }}
      # oneAPI specific variables
      OverrideDefaultFP64Settings: ${{ matrix.backend == 'oneapi' && '1' || '' }}
      IGC_EnableDPEmulation: ${{ matrix.backend == 'oneapi' && '1' || '' }}
      # CUDA specific Julia depot path
      JULIA_DEPOT_PATH: ${{ matrix.backend == 'cuda' && '/scratch/github-actions/julia_depot_exapf' || '' }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Setup Julia
      uses: julia-actions/setup-julia@latest
      with:
        version: ${{ matrix.julia-version }}
    - name: Setup tests
      run: |
        julia --color=yes --project=./test -e '
          using Pkg
          Pkg.Registry.update()
          Pkg.develop(path=".")
          Pkg.instantiate()'
    - name: Add AMDGPU.jl to test environment
      if: matrix.backend == 'amdgpu'
      run: |
        julia --project=test -e 'using Pkg; Pkg.add("AMDGPU")'
    - name: Add CUDA.jl to test environment
      if: matrix.backend == 'cuda'
      run: |
        julia --project=test -e 'using Pkg; Pkg.add("CUDA")'
    - name: Add oneAPI.jl to test environment
      if: matrix.backend == 'oneapi'
      run: |
        julia --project=test -e 'using Pkg; Pkg.add("oneAPI")'
    - name: Run tests
      run: |
        julia --color=yes --project=./test -e 'include("test/runtests.jl")'
